.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 50vh;
    padding: 15px;
}

h1{
    margin-top: 15px;
    margin-bottom: 15px;
}