.container{
    /* border: 1px solid red; */
    background-color: rgb(52, 50, 50);
    border-radius: 0.5rem;
    width: 35rem;
    /* height: 15rem; */
    height: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .errors{
    color: red;
    font-size : 12px;
    display: flex;
    flex-direction: column;
  }
  
  .form-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
  input{
    margin: 5px 5px;
    width: 30rem;
    padding: 12px;
    border : none;
    border-radius: 0.25rem;
    outline: none;
  }
  button{
    margin: 10px 10px;
  }

  .maindivforlogin{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .maindivformain{
    gap: 5px;
    position: relative;
    top: 20rem;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  
  .password-block{
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .password-block span{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 15px;
    top : 15px;
    color: rgb(164, 163, 163);
    cursor: pointer;
    background-color: rgb(72, 71, 71);
    width: 20px;
    height: 20px;
    padding: 2px;
  }
  
  .password-block span:hover{
    background-color: rgb(20, 19, 19);
    color: white;
    transform: scale(1.25);
  }

  .table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
  }

  .table h2{
    margin-bottom: 15px;
  }

  table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      border-radius: 0.25rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  table th,td{
    padding: 12px 15px;
  }
  table thead{
    background-color: rgb(50, 51, 51);
  }
  table tbody tr {
    border-bottom: 1px solid rgb(89, 91, 91);
  }

  table tbody tr:nth-of-type(even) {
    background-color: #000000;
  }

  table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(247, 248, 248);
  }
